@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kdam+Thmor+Pro&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root{
    --color-primario: rgb(255, 255, 255);
    --color-secundario: rgb(0, 0, 0);
    --color-terciario:rgb(239, 239, 239);
    --color-titulo-botones: white;
    --color-header-footer: rgb(5, 0, 34);

    --fuente-monserrat: "Monserrat", sans-serif;
    --fuente-krona: "Krona", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}
.header {
    font-family: var(--fuente-krona);
  font-size: 1rem;
  font-weight: 500;
    padding: 1% 0% 1% 10%;
    background-color: var(--color-header-footer);
    display: flex;
    justify-content: space-between;
    color: var(--color-titulo-botones);
  }
  .volver {
    text-decoration: none;
    color: var(--color-secundario);
    background-color: var(--color-primario);
    border-radius: 8px;
    margin: 0 3% 0 0;
    padding: 1%;
  }
body{
    background-image: url('/assets/fondo4.jpg');
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 1hv; /* Ajusta la altura del main para que ocupe toda la pantalla */
}

.hidden {
    display: none;
}

.seccionMain{
    background-color: transparent;
    border-radius: 10px;
    padding: 2% 1% 2% 10%;
    margin: 2%;
    display: flex;
    height: 38rem;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.sugerencia{
    color: rgb(1, 1, 1);
}
.cuadro_texto_usuario{
    font-family: var(--fuente-monserrat);
    letter-spacing: 1px;
    font-weight: bold;
    border: none;
    background-color: var(--color-primario);
    border-radius: 5px;
    padding: 1%;
    outline: none;
    resize: none;
}

.div_salida_texto {
    background-color: var(--color-terciario);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 8%;
    padding: 0% 1% 2% 3%;
    border-radius: 20px;
    height: 90%;
    gap: 10px;
}
.salida_texto{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: var(--fuente-monserrat);
    font-size: 1rem;
    padding: 0% 10% 0% 7%;
    margin: 2%;
    overflow: auto;
}
.imagen{
    width: 90%;
    border-radius: 20px;
    box-shadow: 0 0 20px 10px rgb(247, 212, 150);
}
.btn_copiar_texto{
    background-color: var(--color-header-footer);
    color: var(--color-primario);
    border-radius: 5px;
    height: 7%;
    width: 40%;
    font-weight: bold;
    cursor: pointer;
}
.btn_copiar_texto:hover{
    box-shadow: 0 0 10px 2px rgb(102, 102, 102);
}
.caja_btn_cripto{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.btn_cripto{
    background-color: var(--color-header-footer);
    color: var(--color-primario);
    border-radius: 5px;
    justify-content: space-between;
    height: 3%;
    width: 30%;
    padding: 1%;
    margin: 2%;
    font-weight: bold;
    cursor: pointer;
}
.btn_cripto:hover{
    box-shadow: 0 0 10px 2px rgb(102, 102, 102);
}

.footer {
    background-color: var(--color-header-footer);
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-monserrat);
    font-size: 1.5rem;
    font-weight: 400;
    padding: 1rem 0;
  }
  @media (max-width: 1200px){
    .header{
        padding: 2%;
        height: 50%;
    }
    .seccionMain{
        flex-direction: column;
        padding: 35%;
        width: auto;
    }
    .cuadro_texto_usuario{
        width: 100%;
        padding: 0;
    }
    .div_salida_texto{
        width: 150%;
        height: 150%;
    }
    .imagen{
        width: 100%;
        height: auto;
    }
    .btn_cripto{
        width: auto;
        height: auto;
    }
    .btn_copiar_texto{
        width: auto;
        height: auto;
    }
    .footer{
        padding: 2%;
        width: auto;
    }
}

